<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.thibaultbee.streampack">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
